# Dependencies
node_modules/
package-lock.json

# Logs
*.log
npm-debug.log*
server.log

# Environment variables
.env
.env.local

# Backups
backups/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Vercel
.vercel
